/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    /* Increase the base font size for small devices */
    font-size: 22px; /* Adjust if needed based on testing */
    line-height: 1.6;
}

#game-container {
    /* Remove max-width to allow full width on small screens */
    width: 95%; /* Slightly less than full width for some padding */
    min-height: 100vh; /* Ensure it at least covers the viewport height */
    margin: 20px auto; /* Keep it centered */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds subtle shadow for depth */
    text-align: center;
}

button, input[type="number"] {
    width: auto; /* Default to auto for larger screens */
    padding: 12px 24px; /* Increase touch target size */
    margin: 10px 5px; /* More space around buttons */
    font-size: 1.1em; /* Slightly larger text inside buttons */
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    button, input[type="number"] {
        width: 100%; /* Full width for better access on small screens */
        /* Keep padding and margin consistent, or adjust as needed */
    }

    #tasks div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Further increase base font size for very small screens if necessary */
    body, html {
        font-size: 20px; /* Adjust based on testing */
    }
}

/* Optional: Additional media query for very small screens like iPhone SE */
@media (max-width: 375px) {
    #game-container {
        width: 98%; /* Almost full width to use more screen space */
    }

    body, html {
        font-size: 22px; /* Even larger base font size for better readability */
    }
}

#tasks {
    border-top: 1px solid #ccc; /* Add a visual separator */
    padding-top: 20px; /* Space between tasks and the rest of the content */
}

#tasks div {
    margin-bottom: 20px; /* Ensure space between individual tasks */
}

@media (max-width: 768px) {
    #tasks div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#cultural-traits {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    width: auto;
    max-width: 200px;
}

.hidden {
    display: none;
}

#toggle-population-details:hover {
    color: blue; /* Change as needed */
}

